*{
    padding: 0;
    margin: 0;
    --webkit-box-sizing:border-box;
    --moz-box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:whitesmoke;
}

/* start contianer */
.contianer{
    width: 100%;
    margin: 100px auto;
    padding: 20px ;
}
/* end contianer */

/* start title calcluate */
.h3{
    text-transform: capitalize;
    font-weight: bold;
    width: fit-content;
    margin: 10px auto;
    color: purple;
}

/* end title calcluate */

/* start media */
@media(max-width:567px){
    .contianer{
        width: 100%;
    }
}
table{
    margin: 10px auto;
    box-shadow: 0 0 2px black;
}
@media(max-width:567px){
    table{
        margin: 5px auto;
    }
}

/* end media */

/* start table  */
.myinput{
    display: block;
    margin: auto;
    padding: 13px;
    width: 220px;
    outline: none;
    border: none;
    background: none;
    font-weight: bold;
    box-shadow: 0 0 2px black;
}

.btn,.equl,.clear{
    background:none;
    border: none;
    color: black;
    background-color:whitesmoke;
    width: 60px;
    height: 60px;
    font-size: 20px;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.btn:hover,.equl:hover,.clear:hover{
    background-color: purple;
    color: white;
}
.activ{
    background-color: purple;
    color: white;
    transition: .3s all ease-in-out;
}
.activ:hover{
    opacity: .8;
}

/* end table */