*{
    padding: 0;
    margin: 0;
    --webkit-box-sizing:border-box;
    --moz-box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
}

.contianer{
    width: 60%;
    margin: 100px auto;
    padding: 20px 0;
}
@media(max-width:567px){
    .contianer{
        width: 100%;
    }
}
table{
    margin: 10px auto;
}
@media(max-width:567px){
    table{
        margin: 5px auto;
    }
}
.myinput{
    display: block;
    margin: auto;
    padding: 13px;
    width: 220px;
    outline: none;
    border: none;
}

.btn,.equl,.clear{
    background:none;
    border: none;
    color: black;
    background-color: red;
    width: 60px;
    height: 60px;
    font-size: 20px;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.btn:hover,.equl:hover,.clear:hover{
    opacity: 0.6;
    background-color: black;
    color: white;
}